<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    
    <h1>Blog Articles</h1>
    <a class="btn btn-success" href="/articles/new">Add Blog</a>
    

    <% articles.forEach(article => { %>
<div class="card mt-4">
    <div class="card-body">
        <h1><%= article.title %></h1>
        <p style="color: blue;"><%= article.body %></p>
        <p>id: <%= article._id %></p>
    </div>
    <div class="row">
        <div class="col-md-4">
    <button class="btn btn-primary" value="<%= article._id %>">Edit</button>
    <button class="btn btn-danger">Delete</button>
    
        </div>

        
</div>
</div>

        <% }) %>

</div>
</body>
</html>